---
import "../../styles/global.css";
import Intro from "./Intro.astro";
import RecentExperience from "./RecentExperience.astro";
import RecentProjects from "./RecentProjects.astro";
import Tools from "./MyTools.astro";
import RecentArticles from "./RecentArticles.astro";
---

<div class="flex flex-col gap-28">
    <Intro />
    <RecentProjects />
    <RecentExperience />
    <Tools />
    <RecentArticles />
</div>