---
import Intro from "./Intro.astro";
import RecentExperience from "./RecentExperience.astro";
import RecentProjects from "./RecentProjects.astro";


---

<div class="flex flex-col gap-28">
    <Intro />
    <RecentProjects />
    <RecentExperience />
</div>