---
import IntroLinks from "../react/IntroLinks"

const stats = [
    {
        title: "Years of Experience",
        amount: 12,
    },
    {
        title: "Projects Completed",
        amount: 46,
    },
    {
        title: "Worldwide Clients",
        amount: 20,
    }
]
---

<div class="space-y-10">
    <div class="space-y-5">
        <h1 class="text-5xl flex-col sm:flex-row md:text-7xl xl:text-8xl 2xl:text-[7rem] flex gap-2.5 md:flex-col uppercase font-extrabold items-center lg:items-start">
            <span class="tracking-tighter">Software</span>
            <span class="tracking-tighter text-gray-300">Engineer</span>
        </h1>
        <p class="text-gray-400 text-center max-w-lg md:max-w-lg mx-auto lg:mx-0 lg:text-start lg:text-lg">Passionate about creating intuitive and engaging user experiences. Specialize in transforming ideas into beautifully crafted products.</p>
    </div>
    <div>
        <ul class="flex justify-center lg:justify-start gap-5 lg:gap-12">
            {
                stats.map((stat) => (
                    <li class="flex flex-col items-center gap-1.5 max-w-24 text-center lg:text-start">
                        <span class="text-4xl md:text-5xl xl:text-6xl font-semibold">+{stat.amount}</span>
                        <span class="text-gray-400 lg:text-lg leading-tight">{stat.title}</span>
                    </li>
                ))
            }
        </ul>
    </div>
    <IntroLinks client:load />
</div>