---
import { Icon } from '@iconify/react/dist/iconify.js'
const techStack = [
    {
        name: "React",
        description: "Web builder",
        icon: "devicon:react"
    },
    {
        name: "Postgres",
        description: "Backend database",
        icon: "devicon:postgresql"
    },
    {
        name: "Rust",
        description: "Backend builder",
        icon: "devicon:rust"
    },
    {
        name: "Next.js",
        description: "Web builder",
        icon: "devicon:nextjs"
    },
    {
        name: "Java",
        description: "Backend builder",
        icon: "devicon-plain:java-wordmark"
    },
    {
        name: "Node.js",
        description: "Web builder",
        icon: "devicon:nodejs-wordmark"
    }
]
console.log(techStack.map((work) => work.icon))
---

<div class="tools-container space-y-10">
        <h2 class="text-5xl flex-col sm:flex-row md:text-7xl xl:text-8xl 2xl:text-[7rem] flex gap-2.5 md:flex-col font-archivo-black uppercase font-extrabold items-center lg:items-start">
            <span class="text-[#eee] tracking-tighter">Tech</span>
            <span class="text-gray-600 tracking-tighter">Stack</span>
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-3 grid-rows-2 lg:grid-cols-2 lg:grid-rows-3 gap-2">
            {techStack.map((tech) => (
                 <div class="flex gap-1.5 p-5 hover:bg-[#31363f] transition-colors duration-500 rounded-2xl group">
                    <Icon icon={tech.icon} className="size-16 text-red-500 p-3 rounded-2xl bg-[#eee]" client:load />
                    <div class="flex flex-col max-w-sm gap-1.5">
                       <h3 class="text-3xl text-[#eee] font-medium">{tech.name}</h3>
                       <p class="text-gray-400">{tech.description}</p>
                    </div>
                 </div>
            ))}
        </div>
    </div>

    <script>
        import { gsap } from 'gsap';
        import { ScrollTrigger } from 'gsap/ScrollTrigger';
      
        gsap.registerPlugin(ScrollTrigger);
      
        window.addEventListener('load', () => {
        const container = document.querySelector('.tools-container');
    
        gsap.fromTo(container, 
            {
            y: -50, 
            autoAlpha: 0
            }, 
            {
            y: 0,
            autoAlpha: 1,
            duration: 1,
            ease: 'power2.out',
            scrollTrigger: {
                trigger: container,
                start: 'top 70%',
                toggleActions: 'play none none none', 
                markers: false,
            }
            }
        );
        });
      </script>