---
import { Icon } from '@iconify/react/dist/iconify.js'
const workExperience = [
    {
        name: "Paywave",
        description: "lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum",
        date: "Jan 2020 - Present"
    },
    {
        name: "Lead Monie",
        description: "lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum",
        date: "Jan 2017 - Dec 2019"
    },
    {
        name: "Viscount",
        description: "lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum",
        date: "Mar 2015 - May 2017"
    },

]
---

<div class="space-y-10">
        <h2 class="text-5xl flex-col sm:flex-row md:text-7xl xl:text-8xl 2xl:text-[7rem] flex gap-2.5 md:flex-col uppercase font-extrabold items-center lg:items-start">
            <span class="tracking-tighter">12 Years Of</span>
            <span class="text-gray-300 tracking-tighter">Experience</span>
        </h1>
        <div class="flex flex-col lg:justify-start gap-5 lg:gap-12">
            {workExperience.map((work) => (
                 <a class="flex justify-between p-5 hover:bg-gray-50 transition-colors duration-500 rounded-2xl group" href={`/experience/${work.name}`}>
                    <div class="flex flex-col max-w-sm gap-5">
                       <h3 class="text-3xl font-medium">{work.name}</h3>
                       <p class="text-gray-400">{work.description}</p>
                       <p class="text-gray-400">{work.date}</p>
                    </div>
                    <Icon icon={"fluent:arrow-up-right-16-regular"} className="text-2xl text-red-500 font-bold transition-transform duration-300 group-hover:-translate-y-1 group-hover:translate-x-1" client:load />
                 </a>
            ))}
        </div>
    </div>